/* Principal  */
body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    min-height: 100vh;
}
/* Caixa Principal */ 
.container {
    
    padding: 24px 32px;
    border-radius: 14.4px;
    box-shadow: 0px 4.8px 14.4px rgba(0, 0, 0, 0.15);
    width: 360px;
    text-align: center;
    /*height: 100%;
    min-height: 100vh; */
}
/* Titulo */ 
.container h2 {
    margin-bottom: 28.8px;
    font-size: 28.8px;
    font-weight: bold;
    
}
/* Caixa de input */ 
.input-field {
    width: 85%; 
    padding: 14.4px;
    margin: 14.4px 0;
    border: 1.2px solid #0f766e;
    border-radius: 7.2px;
    outline-color: #0f766e; 
    font-size: 14px;
}
/* Botão registrar */ 
.btn { 
    width: 96%;
    padding: 12px;
    background-color: #0f766e;
    color: white;
    border: none;
    border-radius: 4.8px;
    cursor: pointer;
    font-size: 17px;

}
/* QUando passar o mouse em cima do botao registrar */ 
.btn:hover {
    background-color: #115e59;
}
/* Texto */ 
.message {
    margin-top: 18px;
    font-size: 12px;
}
/* Clique aqui */ 
.message a {
    color: #0f766e;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        margin-top: -200px;
        padding: 20px;
    }

    .container h2 {
        font-size: 24px;
    }

    .input-field {
        width: 95%;
        font-size: 16px;
        padding: 12px;
    }

    .btn {
        width: 100%;
        padding: 10px;
    }

    .message {
        font-size: 14px;
    }
}